.emos-wrap {
    display: inline-block;
}
.emos-launcher-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}
.emos-area-wrap {
    position: absolute;
    text-align: left;
}
.emos-area-wrap.top-right {
    bottom: 32px;
    right: 0;
}
.emos-area-wrap.top-left {
    bottom: 32px;
    left: 0;
}
.emos-area-wrap.bottom-right {
    top: 32px;
    right: 0;
}
.emos-area-wrap.bottom-left {
    top: 32px;
    left: 0;
}
button.emos-launcher-btn {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
}
button.emos-launcher-btn span.emoji-mart-emoji {
    vertical-align: middle;
}