@media(max-width: 1440px){
    .workout-exercise-body-view-desc {height: inherit !important;}
    .custome-table-edit-wrapper{width: 100%;margin-bottom: 15px;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;min-height: .01%;overflow-x: auto;
     border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
    .custome-table-edit-wrapper .program-save-custom-days-wrapper {width: 1168px;border-left: none;border-right: none;}
    body , .appWrapper{display: block !important;}

}

@media(max-width: 1280px){
    .stats-wrapper .stats-content-body .stats-content-body-r {width: 70% !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l {width: 30% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l , 
    .stats-wrapper .stats-content-head .stats-content-head-m{width: 30% !important;}
    .workout-type-card-wrapper ul , .workout-type-card-wrapper ul li{display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;}
    .workout-type-card-wrapper ul li > div > input{max-width: 60px !important;}
    .workout-type-card-wrapper ul li .set-div {min-width: 60px;}
    .super-set-wrraper .multiple-sets-header>div.sim-view-field-wrap input {width: 50px;}
    .select-workout-type-wrapper .sets-advance-view-block > div {width: 25%;}
}
@media(max-width: 1024px){	
    .header-r {padding: 25px 20px 25px 20px !important;}
    .search {padding: 30px 20px 30px 20px !important;}
    .front-white-header{padding-left: 20px !important;padding-right: 20px !important;}
    .body-content{padding-left: 20px !important;padding-right: 20px !important;}
    .white-box {padding: 15px !important;}
    .profile-list span a img {height: inherit !important;}
    .body-head-l h2{font-size: 50px !important;line-height: 80px !important;}
    h3.title-h3{font-size: 28px;line-height: 28px;}
    .progress-popup .modal-dialog {max-width: 90% !important;position: absolute;top: 50%;left: 48%;transform: translate(-50% , -50%)!important;}
    .todays-workout-box-wrapper.white-box {margin-top: 20px;}
}

@media(max-width: 992px){
    .search div.search-form {width: 30vw !important;}   
    .stat-page .body-head-l , .stat-page .body-head-r {width: 50%;} 
    .stat-page .body-head-l h2 , .workout-schedule-save .body-head-l h2{line-height: 60px !important;}
    .stat-page .DateRangePicker__Month {width: 255px;}
    .stats-wrapper .stats-content-head{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .stats-wrapper .stats-content-head .stats-content-head-l {width: 100% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m {width: 40% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l select {margin-bottom: 25px;}
    .workout-schedule-save .body-head-l-btm a {min-width: 125px;margin-right: 15px;line-height: 40px;}
    .workout-schedule-save .body-head-l-btm {margin-top: 60px;}
    .workout-exercise-body-content-view-l img, .workout-exercise-body-view-l img , .workout-exercise-body-content-view-l img ,
    {max-width: 100%;}
    .workout-exercise-body-view .workout-exercise-body-view-l , .workout-exercise-body-content-view .workout-exercise-body-content-view-l  {width: 30%;}
    .workout-exercise-body-view .workout-exercise-body-view-r , .workout-exercise-body-content-view .workout-exercise-body-content-view-r  {width: 70%;}
    
    
}



@media(min-width:768px) and (max-width:992px){
    .stats-wrapper .date-range-picker {top: 120px;}
}


@media(max-width: 768px){	
    .programs-table-wrapper .table>thead>tr>th:nth-child(2), .programs-table-wrapper .table>tbody>tr>td:nth-child(2), 
    .programs-table-wrapper .table>thead>tr>th:nth-child(3), .programs-table-wrapper .table>tbody>tr>td:nth-child(3) , 
    .programs-table-wrapper .table>thead>tr>th:last-child {width: auto !important;}
    .programs-table-wrapper .table>tbody>tr>td > span {padding: 0px 8px !important;}
    .programs-table-wrapper .table>tbody>tr>td:first-child > span p, .programs-table-wrapper .table>thead>tr>th:first-child > span p{
     max-width: 100% !important;}
     .program-wrap .programs-table-wrapper .table>thead>tr>th > span {padding: 15px 5px;text-align: center;}
     .div_search_program , .program-search input{max-width: 100% !important;}
     body , .appWrapper {display: inherit !important;}
     .fitness-body .front-white-header .body-head-l h2 {line-height: 60px !important;}
 }

@media(max-width: 767px){	
    .stepbox-b button.continues-btn{width: 170px !important;}
    .logo{border-right:none !important;}
    .header-user a {font-size: 0 !important;}
    .stat-page .DateRangePicker__Month {width: 165px;}
    .stats-wrapper .stats-content-body , .fitness-body .front-white-header{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .stats-wrapper .stats-content-body .stats-content-body-l , 
    .stats-wrapper .stats-content-body .stats-content-body-r{width: 100% !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l button {height: 52px !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l button .stats-btn-body h3 {margin: 5px 0 5px 0 !important;font-size: 18px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m {width: 100% !important;margin-bottom: 15px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-r {margin-left: inherit !important;}
    .stats-wrapper .stats-content-body .stats-content-body-r {width: 90% !important;height: 270px !important;}
    .stats-wrapper .date-range-picker {right: -13px!important;top: 190px !important;z-index: 9 !important;}

    .today-badges .customiser-box .tropy-icon-box {width: 15%;}
    .stats-wrapper .stats-content-body .stats-content-body-l {padding: 0 !important;margin: 0 !important;height: inherit !important;}
    .emos-launcher-wrap .emos-area-wrap.top-right {right: inherit !important;left: -30px !important;}
    .bodyfat-date-range-picker .DateRangePicker__Month , 
    .fithub-widget-date-range.custom_date_pdl .DateRangePicker__Month {width: 165px;}
    .stats-wrapper .stats-content-body .stats-content-body-l button:last-child {margin-bottom: 5px !important;}
    .workout-schedule-save .body-head.d-flex.justify-content-start.front-white-header{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .workout-schedule-save .body-head-l , .workout-schedule-save .body-head-r {width: 100%;}
    .workout-schedule-save .body-head-l-btm ,   .fitness-body .front-white-header .body-head-l .body-head-l-btm{margin-top: 30px;}
    .workout-schedule-save .body-head-r , .fitness-body .front-white-header .body-head-r{margin: 30px 0px 0 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;
    -ms-flex-pack: justify;justify-content: space-between;max-width: 100% !important;-ms-flex-wrap: wrap;flex-wrap: wrap}
    .workout-schedule-save .body-head-r a:first-child(){margin: 0px 15px 0 0;}
    .workout-schedule-save .body-head-r a{width: 100%;}
    .progress-popup .modal-dialog .modal-content {padding: 30px 35px 35px 35px !important;}

    .starts-body .body-head-l , .starts-body .body-head-r{width: 100%;}
    .starts-body .body-head-l h2 {font-size: 34px !important;}
    /* .workout-schedule-save .body-head-r a.pink-btn {margin: 0 15px 0 0;} */
    #manu-navigation .workout-schedule-save .body-head-r a{margin: 0 0 20px;padding: 0 20px 0 30px;}
    .workout-main-types-view-wrapper .add-workout-form-wrapper .workout-type-radios ul li label {padding: 10px 20px;}

    .workout-exercise-body-view.d-flex , .workout-exercise-body-content-view.d-flex{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .workout-exercise-body-view .workout-exercise-body-view-l , .workout-exercise-body-view .workout-exercise-body-view-r ,
    .workout-exercise-body-content-view .workout-exercise-body-content-view-l , .workout-exercise-body-content-view .workout-exercise-body-content-view-r {width: 100%;}
    .workout-type-card-wrapper ul li > div > input{max-width: 50px !important;}
    .workout-type-card-wrapper ul li .set-div {min-width: 40px;}
    .workout-type-card-wrapper ul li{margin: 0 10px 0 0 !important;}
    .workout-exercise-body-view-desc {margin-top: 20px;}
    .workout-exercise-head-view-data-col:last-child {margin: 0;}
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-l , 
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r{width: 100%;}

    .sets-advance-view-block .adv-view-field-wrap div:first-child {width: 40px !important;}
    .sets-advance-view-block .adv-view-field-wrap div:last-child {left: 40px !important;}
     .select-workout-type-wrapper .sets-advance-view-block > div {width: 50%;}
    .select-workout-type-wrapper .sets-advance-view-block .adv-view-field-wrap:nth-child(4) div select {width: 77px;}
    .sets-advance-view-block .adv-view-field-wrap:nth-child(2), .sets-advance-view-block .adv-view-field-wrap:nth-child(3) {margin-bottom: 10px;}
    .sets-advance-view-block > label {left: 10px !important;}
    .sets-advance-view-block button.sets-advance-view-cBtn {right: 5px !important;}
    .program-wrap .table-responsive {border: none;}
    .program-wrap .body-content.profilephoto-content > div , .fitness-body .front-white-header .body-head-l , 
    .fitness-body .front-white-header .body-head-r {width: 100%;}
  
    
}



@media(min-width:600px) and (max-width:767px){
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body {
        flex-wrap: inherit;
    }
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body .grey-white label {
        widtH: 70%;
    }

    
}

@media(max-width: 600px){	
    .step-box.step-box_expried{ -ms-flex-wrap: wrap;flex-wrap: wrap;}
    .step-wrap-login .step-box-l , .step-wrap-login .step-box-r {width: 100% !important;}
    .step-wrap-login .step-box-l{-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}
    .stepbox-b button.continues-btn {width: 100% !important;}
    .step-box-l , .step-box-r { padding: 20px !important;}
    .step-wrap{padding: 50px 20px !important;}
    header{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .search{width: 100%;-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;margin-left: auto;
    background-color: #fff;padding: 0px 20px 20px 20px !important;}
    .header-r{background-color: #fff;border-left: 2px solid #f4f7fc;width: calc(100% - 110px);}
    .search div.search-form {width: 100% !important;}
    .header-r{-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
    .header-r .mobile-menu{margin-right: auto;display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .header-r .mobile-menu svg{width: 34px;height: 40px; }
    section.body-wrap {padding-top: 65px;}
    .body-head-r {width: 10%;}
    .body-head-l {width: 90%;}
.Menu{background: #fff;width: 60px;height: 100%;position: fixed;top: 0;left: 0;padding: 150px 0 0;z-index: 9;
    -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.Menu .navigation {position: unset;padding: 0px 0 0;}
.menu-hide{left: -110px;}
    .pl0{padding-left: 0 !important;}
    .w100{width: 100% !important;}
    .navigation , .Menu{width: 65px !important;}
    .appWrapper .app-wrapper-content {padding: 100px 0 0 65px;}
    .header {height: 105px !important;}
    .choosewidget-box , .choose-widget .custom_check [type="checkbox"]:checked + label:before , 
    .choose-widget .custom_check [type="checkbox"]:not(:checked) + label, .choose-widget .custom_check [type="checkbox"]:checked + label , 
    .choose-widget .custom_check [type="checkbox"]:not(:checked) + label:before{
    width: 120px !important;height: 120px !important;}
    .widget-popup .modal-content {padding: 30px 15px !important;}
    .body-head-l h2 {font-size: 35px !important;}  
    .stat-page .body-head , .fitness-body .front-white-header {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .stat-page .body-head-l, .stat-page .body-head-r , 
    .fitness-body .front-white-header .body-head-l , .fitness-body .front-white-header .body-head-r{width: 100%;}
    .fitness-body .front-white-header .body-head-r {max-width: 100%;margin: 23px 0px 0 0;}
    .stat-page .body-head-r {max-width: 100%;margin: 23px 0px 0 0;}
    .stat-page .body-head-r a {margin: 0 0 20px;padding: 0 10px 0 10px;}
    .stat-page .body-head-l-btm a {min-width: 100px !important;}
    .stat-page .progress-date-range-picker{right: 10px;top: 330px;z-index: 9;}
    .bodyfat-date-range-picker , .fithub-widget-date-range.custom_date_pdl{right: -16px !important;z-index: 9 !important;}
    .white-box .whitebox-body.bodyfat-graph {padding: 0;}
    .post-type .post-comment-r {padding: 0 0 0 15px;}
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body .grey-white label {width: 85%;}
    .body-measurement-list-section-wrapper .row .measurements-wrap {width: 65%;}
    .body-measurement-list-section-wrapper .row  .measurements-img-wrap{width: 35%;}
    .body-measurement-list-section-wrapper .body-head-l {width: 100%;}
    .new-progress-popup .pregres-submit button{width: 100%;}
    .progress-popup-head .close-round {top: -45px !important;right: -47px !important;width: 30px;height: 30px;line-height: 30px;}
    .workout-schedule-save .body-head-l-btm a , .body-head-l-btm a{min-width: 110px !important;}
    .starts-body .body-content .white-exercise-block {padding: 40px 15px;}    
    .workout-exercise-body-view-r .d-flex , .workout-exercise-head-view-wrapper .workout-exercise-head-view , 
    .program-wrap .front-white-header ,  .save-program-master-wrapper .validation_errors_wrapper form .d-flex{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .workout-exercise-head-view-data-row>div{width: 45%;margin-bottom: 10px;}
    .workout-exercise-head-view-data-col:nth-child(2){margin-right: 0;}
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r .workout-exercise-head-view-data-row{
    -webkit-box-pack: initial;-ms-flex-pack: initial;justify-content: initial;width: 85%;}
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r {
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}

    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r .workout-exercise-head-view-data-row 
    div.workout-exercise-head-view-data-col{min-width: 50%;margin-bottom: 0;}
    .workout-status .workoutstatus-top{min-height: 25px;}
    .workout-status  h4{padding: 0 0 0 0px !important;font-size: 13px !important;}
    .workout-status .workoutstatus-btm {padding: 15px 0px;}
    .program-wrap .body-head-l , .program-wrap .body-head-r{width: 100%;max-width: 100%;}
    .program-wrap .custome-table .col-xs-12 {padding: 0 !important;}
    .program-save-custom-days-wrapper .program-save-custom-days-row .program-save-custom-days-block 
    .program-save-custom-days-block-content {min-height: 80px !important;}
    .program-save-custom-days-wrapper .program-save-custom-days-row .program-save-custom-days-block 
    .program-save-custom-days-block-title {font-size: 12px;}
    
}

@media(max-width: 480px){
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget{width: 300px !important;opacity: 1;height: initial;margin: 0 auto;border-radius: 5px;position: absolute;
    top: 50%!important;left: 50%!important;transform: translate(-50% , -50%) !important;bottom: inherit !important;}
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-overlay{display: block;}
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-body-content {min-height: initial !important;}
    html.auth0-lock-html body > * {display: inherit;}
    .header .logo {width: 90px !important;display: -webkit-box!important;display: -ms-flexbox!important;display: flex!important;-webkit-box-align: center!important;
    -ms-flex-align: center!important;align-items: center!important;}
    .header-r{border-left: none;padding: 25px 15px 25px 0px !important;margin-left: 0;}
    .header-r .mobile-menu {margin-right: 15px;}
    .header-nav>a {height: 40px!important;;width: 40px!important;;line-height: 36px!important;}
    .header-user a {line-height: 44px!important;}
    .header-user a span {width: 40px!important;height: 40px!important;margin-right: 0px!important;}
    .header .avatar {width: 40px!important;height: 40px!important;}
    .widget-popup .modal-dialog {max-width: 94% !important;}    
    .stats-wrapper .stats-content-head .stats-content-head-r button {padding: 6px 12px  !important;margin-right: 8px  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-r button.calendar-toggle {margin-right: 0px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m ul li {margin: 0 8px 0 0  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l h4 {margin: 10px 30px 20px 0px  !important;width: 100%  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l select {width: 100%  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .today-badges .customiser-box {padding: 20px 25% 20px 15px;}
    .today-badges .customiser-box .tropy-icon-box {width: 16%;}
    .today-badges .customiser-box .tropy-icon-box  .tropy-icon-box svg {height: 28px;width: 23px;}
    section.body-wrap .body-head {padding-top: 25px;}
   
    .timeline-infinite-scroll .posttype-head>h4 big a {display: block;line-height: 1.2;margin: 0 !important;}
    .emos-launcher-wrap .emoji-mart {width: 218px !important;}
    .body-measurement-list-section-wrapper .row .measurements-wrap , 
    .body-measurement-list-section-wrapper .row .measurements-img-wrap{width: 100%;}
    .body-measurement-list-section-wrapper .row .measurements-wrap {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
    .body-measurement-list-section-wrapper .row .measurements-img-wrap{-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;margin-bottom: 15px;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body{flex-wrap: wrap;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li {width: 100%;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li .grey-white label {width: 130px;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li .cm-kg {width: 30px;}
    .body-measurement-list-section-wrapper .row .measurements-img-wrap img {width: 40%;}
    .starts-body .body-content.profilephoto-content .white-exercise-block{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;
    -ms-flex-pack: justify;justify-content: space-between;}
    .starts-body .body-content.profilephoto-content .white-exercise-block a{padding: 10px 5px;display: block;width: 33%;font-size: 12px;max-width: inherit;}
    .workout-exercise-head-view-data-col strong {min-width: 45px !important;}
    .workout-exercise-head-view-data-row>div {width: 46%;height: 90px;}
    .workout-exercise-head-view-data-col > strong {height: 35px;}
    .workout-main-types-view-wrapper .add-workout-form-wrapper .workout-type-radios ul li label {padding: 10px 10px;font-size: 13px;}
    .select-workout-type-wrapper .workout-type-radios ul li:last-child {margin: 0;}
    .select-workout-type-wrapper .workout-type-radios ul {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;justify-content: space-evenly;}
    .select-workout-type-wrapper .workout-type-radios ul li {margin: 0 10px 0 0;}
    .workout-schedule-save .body-head-l-btm a {min-width: 100% !important;margin: 0;}
    .workout-schedule-save .body-head-l-btm {-ms-flex-wrap: wrap;flex-wrap: wrap}
    .workout-schedule-save .body-head-l-btm a:nth-child(2) , .body-head-l-btm a:nth-child(2){margin: 15px 0;}

    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r{-ms-flex-wrap: wrap;
    flex-wrap: wrap;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r .workout-exercise-head-view-data-row 
    div.workout-exercise-head-view-data-col {min-width: 100%;margin: 10px 0;}
    .workout-exercise-head-view-wrapper .workout-exercise-head-view .workout-exercise-head-view-r .workout-exercise-head-view-data-row{
    -ms-flex-wrap: wrap;flex-wrap: wrap;}
    .workout-exercise-head-view-wrapper.super-set-wrraper .workout-exercise-head-view .workout-exercise-head-view-r{flex-wrap: initial !important;}
    .workout-exercise-head-view-wrapper.super-set-wrraper .workout-exercise-head-view .workout-exercise-head-view-l{width: 85%;}
    .workout-exercise-head-view-wrapper.super-set-wrraper .workout-exercise-head-view .workout-exercise-head-view-r .btn-toolbar{margin-top: -22px !important;}
    .super-set-wrraper .workout-exercise-head-view-data-row>div {height: inherit;}
    ul.workout-exercise-body-view-ul .workout-exercise-body-view-data-row>div {min-width: 80px !important;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view .workout-exercise-head-view-l ,
    .workout-exercise-body-view-wrapper .workout-exercise-body-view .workout-exercise-body-head-view .workout-exercise-head-view-l , 
    .workout-exercises-view-wrapper ul li .workout-exercise-view .workout-exercise-head-view .workout-exercise-head-view-l {width: 90%;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view .workout-exercise-head-view-r{width: 10%;
    margin-left: 0;-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view.advance-switch-wrap .workout-exercise-head-view-l , 
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view.advance-switch-wrap .workout-exercise-head-view-r{width: 100%;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view.advance-switch-wrap .workout-exercise-head-view-l{margin-bottom: 15px;}
    .workout-schedule-save .body-head-l h2 {line-height: 40px !important;}
    .todays-workout-box-wrapper.white-box .todays-workout-list-card .switch-wrap{ -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
    padding: 0 20px 0 22px;}
    .todays-workout-box-wrapper.white-box .todays-workout-list-card .switch-wrap small{margin: 0;}
    .workout-status .workout-status h4{padding: 0 0 0 0px;font-size: 13px;}
    .program-wrap .profile-new-menu.body-head-l-btm a {min-width: 110px !important;}
    .save-program-master-wrapper .validation_errors_wrapper form .d-flex.pull-right{float: inherit !important;}
    .save-program-master-wrapper .validation_errors_wrapper form .d-flex.pull-right a.custom-medium-link-btn , 
    .save-program-master-wrapper .validation_errors_wrapper form .d-flex.pull-right .custom-medium-btn{width: 100%;max-width: 100%;}
    .save-program-master-wrapper .validation_errors_wrapper form .d-flex.pull-right a.custom-medium-link-btn{display: -webkit-box;display: -ms-flexbox;
    display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin-bottom: 15px;}
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap input , 
    .workout-type-card-wrapper .workout-type-card-block .workout-type-card-block-top > div , 
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap  {width: 100%;}
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap > div{width: calc(100% - 85px);}
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap > div.set-div {width: initial;}
    .workout-type-card-wrapper .workout-type-card-block .workout-type-card-block-top > div:last-child {position: unset;}
    .workout-type-card-wrapper .workout-type-card-block .workout-type-card-block-top {padding-right: 0;}
    .fitness-body .body-head-l-btm a {min-width: 100% !important;}

}


@media(min-width: 481px){
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-center {overflow-y: auto;}
    .auth0-lock.auth0-lock .auth0-lock-center {vertical-align: middle;display: table-cell;margin: auto;}
}

@media(max-width: 380px){
    .header .logo {padding: 15px 0px 15px 7px;}
    .header .logo a {width: 60px;}
    .body-head-l h2 {font-size: 25px !important;}
    .body-measurement-list-section-wrapper .whitebox-head h3.title-h3 {font-size: 28px;}
    .workout-exercise-head-view-l strong {font-size: 16px;}  
    .select-workout-type-wrapper .workout-type-radios ul li {margin: 0 !important;width: 100%;}
    .select-workout-type-wrapper .workout-type-radios ul { -ms-flex-wrap: wrap;flex-wrap: wrap;}  
    .select-workout-type-wrapper .workout-type-radios ul li:nth-child(2){margin: 10px 0 !important;}
    ul.workout-exercise-body-view-ul .workout-exercise-body-view-data-row>div {min-width: 30px!important;padding: 7px !important;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view.advance-switch-wrap .workout-exercise-head-view-r{
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
    .workout-exercises-view-wrapper ul>li + li .workout-exercise-view .workout-exercise-head-view.advance-switch-wrap 
    .workout-exercise-head-view-r .switch-wrap{padding: 0 20px 0 0px;}
    .workout-schedule-save .body-content .react-calendar {width: 100% !important;}
    .workout-schedule-save .body-content .react-calendar__month-view__weekdays__weekday{padding: .5em .1em;-ms-flex-preferred-size: 13.2857% !important;
    flex-basis: 13.2857% !important;}
    .workout-schedule-save .body-content .react-calendar .react-calendar__month-view__days button{padding: 0.55em .3em;-ms-flex-preferred-size: 13.2857% !important;
    flex-basis: 13.2857% !important;max-width: 13.2857% !important;}
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap > div {width: calc(100% - 48px);}
    .workout-type-card-wrapper .multiple-sets-header>div.sim-view-field-wrap .set-div{min-width: 50px;}
    .workout-main-types-view-wrapper .add-workout-form-wrapper .add-workout-form-btm-btn {padding: 7px 30px;}
}
@media(max-width: 360px){
    .header-user a {line-height: 38px!important;}
    .header-user a span {width: 35px!important;height: 35px!important;margin-right: 0px!important;}
    .header .avatar {width: 35px!important;height: 35px!important;}
    .header-user , .header-friend-requests , .header-alert{margin: 0 12px 0 0 !important;}
    .header-r .mobile-menu {margin-right: 7px;}
    ul.workout-exercise-body-view-ul .workout-exercise-body-view-data-row>div strong:last-child {min-width: 40px !important;}
    .workout-exercise-body-content-view-l img, .workout-exercise-body-view-l img {max-width: 115px !important;width: 100% !important;height: 100% !important;}
    .whitebox-body.profile-body.programs-table-wrapper a.program-save-add-week-btn , a.program-save-delete-week-btn{width: 100%;}
    .whitebox-body.profile-body.programs-table-wrapper a.program-save-delete-week-btn{margin-top: 10px;}
    .whitebox-body.profile-body.programs-table-wrapper .week-btn-btm {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .sweetalert-responsive .popup-link-wrap .popup-link button.btn{font-size: 12px;}
}


@media(max-width: 320px){
    .todays-workout-box-wrapper.white-box .todays-workout-list-card .switch-wrap small {line-height: 1.4;display: -webkit-box;display: -ms-flexbox;
    display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .body-content .react-calendar{width: 215px !important;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li .grey-white label{width: 100px;}
}