@media(max-width: 1280px){
    .stats-wrapper .stats-content-body .stats-content-body-r {width: 70% !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l {width: 30% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l , 
    .stats-wrapper .stats-content-head .stats-content-head-m{width: 30% !important;}

}
@media(max-width: 1024px){	
    .header-r {padding: 25px 20px 25px 20px !important;}
    .search {padding: 30px 20px 30px 20px !important;}
    .front-white-header{padding-left: 20px !important;padding-right: 20px !important;}
    .body-content{padding-left: 20px !important;padding-right: 20px !important;}
    .white-box {padding: 15px !important;}
    .profile-list span a img {height: inherit !important;}
    .body-head-l h2{font-size: 50px !important;line-height: 80px !important;}
    h3.title-h3{font-size: 28px;line-height: 28px;}
}

@media(max-width: 992px){
    .search div.search-form {width: 30vw !important;}   
    .stat-page .body-head-l , .stat-page .body-head-r {width: 50%;} 
    .stat-page .body-head-l h2 {line-height: 60px !important;}
    .stat-page .DateRangePicker__Month {width: 255px;}
    .stats-wrapper .stats-content-head{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .stats-wrapper .stats-content-head .stats-content-head-l {width: 100% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m {width: 40% !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l select {margin-bottom: 25px;}

}
@media(min-width:768px) and (max-width:992px){
    .stats-wrapper .date-range-picker {top: 120px;}
}


@media(max-width: 768px){	
    
}

@media(max-width: 767px){	
    .stepbox-b button.continues-btn{width: 170px !important;}
    .logo{border-right:none !important;}
    .header-user a {font-size: 0 !important;}
    .stat-page .DateRangePicker__Month {width: 165px;}
    .stats-wrapper .stats-content-body{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .stats-wrapper .stats-content-body .stats-content-body-l , 
    .stats-wrapper .stats-content-body .stats-content-body-r{width: 100% !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l button {height: 52px !important;}
    .stats-wrapper .stats-content-body .stats-content-body-l button .stats-btn-body h3 {margin: 5px 0 5px 0 !important;font-size: 18px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m {width: 100% !important;margin-bottom: 15px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-r {margin-left: inherit !important;}
    .stats-wrapper .stats-content-body .stats-content-body-r {width: 90% !important; }
    .stats-wrapper .date-range-picker {right: -13px!important;top: 190px !important;z-index: 9 !important;}

    .today-badges .customiser-box .tropy-icon-box {width: 15%;}
    .stats-wrapper .stats-content-body .stats-content-body-l {padding: 0 !important;margin: 0 !important;}
    .emos-launcher-wrap .emos-area-wrap.top-right {right: inherit !important;left: -30px !important;}
    .bodyfat-date-range-picker .DateRangePicker__Month , 
    .fithub-widget-date-range.custom_date_pdl .DateRangePicker__Month {width: 165px;}
}
@media(min-width:600px) and (max-width:767px){
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body {
        flex-wrap: inherit;
    }
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body .grey-white label {
        widtH: 70%;
    }

    
}

@media(max-width: 600px){	
    .step-box.step-box_expried{ -ms-flex-wrap: wrap;flex-wrap: wrap;}
    .step-wrap-login .step-box-l , .step-wrap-login .step-box-r {width: 100% !important;}
    .step-wrap-login .step-box-l{-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}
    .stepbox-b button.continues-btn {width: 100% !important;}
    .step-box-l , .step-box-r { padding: 20px !important;}
    .step-wrap{padding: 50px 20px !important;}
    header{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .search{width: 100%;-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;margin-left: auto;
    background-color: #fff;padding: 0px 20px 20px 20px !important;}
    .header-r{background-color: #fff;border-left: 2px solid #f4f7fc;width: calc(100% - 110px);}
    .search div.search-form {width: 100% !important;}
    .header-r{-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
    .header-r .mobile-menu{margin-right: auto;display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .header-r .mobile-menu svg{width: 34px;height: 40px; }
    section.body-wrap {padding-top: 65px;}
    .body-head-r {width: 10%;}
    .body-head-l {width: 90%;}
.Menu{background: #fff;width: 60px;height: 100%;position: fixed;top: 0;left: 0;padding: 150px 0 0;z-index: 9;
    -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.Menu .navigation {position: unset;padding: 0px 0 0;}
.menu-hide{left: -110px;}
    .pl0{padding-left: 0 !important;}
    .w100{width: 100% !important;}
    .navigation , .Menu{width: 65px !important;}
    .appWrapper .app-wrapper-content {padding: 100px 0 0 65px;}
    .header {height: 105px !important;}
    .choosewidget-box , .choose-widget .custom_check [type="checkbox"]:checked + label:before , 
    .choose-widget .custom_check [type="checkbox"]:not(:checked) + label, .choose-widget .custom_check [type="checkbox"]:checked + label , 
    .choose-widget .custom_check [type="checkbox"]:not(:checked) + label:before{
    width: 120px !important;height: 120px !important;}
    .widget-popup .modal-content {padding: 30px 15px !important;}
    .body-head-l h2 {font-size: 35px !important;}  
    .stat-page .body-head{flex-wrap: wrap;}
    .stat-page .body-head-l, .stat-page .body-head-r {width: 100%;}
    .stat-page .body-head-r {max-width: 100%;margin: 23px 0px 0 0;}
    .stat-page .body-head-r a {margin: 0 0 20px;padding: 0 10px 0 10px;}
    .stat-page .body-head-l-btm a {min-width: 100px !important;}
    .stat-page .progress-date-range-picker{right: 10px;top: 330px;z-index: 9;}
    .bodyfat-date-range-picker , .fithub-widget-date-range.custom_date_pdl{right: -16px !important;z-index: 9 !important;}
    .white-box .whitebox-body.bodyfat-graph {padding: 0;}
    .post-type .post-comment-r {padding: 0 0 0 15px;}
    .body-measurement-list-section-wrapper .row.d-flex.whitebox-body .grey-white label {width: 85%;}
    .body-measurement-list-section-wrapper .row .measurements-wrap {width: 65%;}
    .body-measurement-list-section-wrapper .row  .measurements-img-wrap{width: 35%;}
    .body-measurement-list-section-wrapper .body-head-l {width: 100%;}
}

@media(max-width: 480px){
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget{width: 300px;opacity: 1;height: initial;margin: 0 auto;border-radius: 5px;position: absolute;
    top: 50%;left: 50%;transform: translate(-50% , -50%);bottom: inherit;}
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-overlay{display: block;}
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-body-content {min-height: initial !important;}
    html.auth0-lock-html body > * {display: inherit;}
    .header .logo {width: 90px !important;display: -webkit-box!important;display: -ms-flexbox!important;display: flex!important;-webkit-box-align: center!important;
    -ms-flex-align: center!important;align-items: center!important;}
    .header-r{border-left: none;padding: 25px 15px 25px 0px !important;margin-left: 0;}
    .header-r .mobile-menu {margin-right: 15px;}
    .header-nav>a {height: 40px!important;;width: 40px!important;;line-height: 36px!important;}
    .header-user a {line-height: 44px!important;}
    .header-user a span {width: 40px!important;height: 40px!important;margin-right: 0px!important;}
    .header .avatar {width: 40px!important;height: 40px!important;}
    .widget-popup .modal-dialog {max-width: 94% !important;}    
    .stats-wrapper .stats-content-head .stats-content-head-r button {padding: 6px 12px  !important;margin-right: 8px  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-r button.calendar-toggle {margin-right: 0px !important;}
    .stats-wrapper .stats-content-head .stats-content-head-m ul li {margin: 0 8px 0 0  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l h4 {margin: 10px 30px 20px 0px  !important;width: 100%  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l select {width: 100%  !important;}
    .stats-wrapper .stats-content-head .stats-content-head-l {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .today-badges .customiser-box {padding: 20px 25% 20px 15px;}
    .today-badges .customiser-box .tropy-icon-box {width: 16%;}
    .today-badges .customiser-box .tropy-icon-box  .tropy-icon-box svg {height: 28px;width: 23px;}
    section.body-wrap .body-head {padding-top: 25px;}
   
    .timeline-infinite-scroll .posttype-head>h4 big a {display: block;line-height: 1.2;margin: 0 !important;}
    .emos-launcher-wrap .emoji-mart {width: 218px !important;}
    .body-measurement-list-section-wrapper .row .measurements-wrap , 
    .body-measurement-list-section-wrapper .row .measurements-img-wrap{width: 100%;}
    .body-measurement-list-section-wrapper .row .measurements-wrap {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
    .body-measurement-list-section-wrapper .row .measurements-img-wrap{-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;margin-bottom: 15px;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body{flex-wrap: wrap;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li {width: 100%;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li .grey-white label {width: 130px;}
    .body-measurement-list-section-wrapper ul.common-ul.common_ul_body > li .cm-kg {width: 30px;}
    .body-measurement-list-section-wrapper .row .measurements-img-wrap img {width: 40%;}
}

@media(min-width: 481px){
    .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-center {overflow-y: auto;}
    .auth0-lock.auth0-lock .auth0-lock-center {vertical-align: middle;display: table-cell;margin: auto;}
}

@media(max-width: 380px){
    .header .logo {padding: 15px 0px 15px 7px;}
    .header .logo a {width: 60px;}
    .body-head-l h2 {font-size: 25px !important;}
    .body-measurement-list-section-wrapper .whitebox-head h3.title-h3 {font-size: 28px;}    
}
@media(max-width: 360px){
    .header-user a {line-height: 38px!important;}
    .header-user a span {width: 35px!important;height: 35px!important;margin-right: 0px!important;}
    .header .avatar {width: 35px!important;height: 35px!important;}
    .header-user , .header-friend-requests , .header-alert{margin: 0 12px 0 0 !important;}
    .header-r .mobile-menu {margin-right: 7px;}
}
